/* Imported -------------------- */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Base Styles -------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    color: white;
    font-size: 3.375em;
    padding-top: 40px;
    padding-bottom: 100px;
}

a:link {
    color: #fba100;
}

/* Main Header Styles --------------------- */

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: linear-gradient(rgba(108, 100, 139, 1), rgba(188, 161, 158, 0.2) 40%, rgba(188, 161, 158, 0.2) 70%, rgba(188, 161, 158, 1) 100%),
                #6c648b url('../images/animatedback.gif') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #f9f3f4;
    text-shadow: 0px 0px 300px #000;
    font-size: 392%;
    margin-bottom: 50px;
}

.button {
    border: solid #fba100 3px;
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #fba100;
    font-size: 135%;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;
}

/* About Styles --------------------- */

.about {
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(188, 161, 158, 1), rgba(188, 161, 158, 0.2) 40%, rgba(107, 186, 167, 0.2) 70%, rgba(107, 186, 167, 1) 100%),
               #b6a19e url('../images/diect-shot-waves-brush-460x250.jpg') no-repeat 50% 50%;
    background-size: cover;
    margin-top: 0;
}

.aboutP {
    color: white;
    font-size: 1.85em;

}

/* Products Styles --------------------- */

.products {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(107, 186, 167, 1), rgba(107, 186, 167, 0.2) 40%, rgba(108, 100, 139, 0.2) 70%, rgba(108, 100, 139, 1) 100%);
    background-size: cover;
}


/* Float Clearfix ------------------ */

.group:after {
    content: "";
    display: table;
    clear: both;
}


/* Tips Styles --------------------- */

.tips {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(108, 100, 139, 1), rgba(188, 161, 158, 0.2) 40%, rgba(188, 161, 158, 0.2) 70%, rgba(188, 161, 158, 1) 100%);
}

/* Videos Styles --------------------- */

.videos {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(188, 161, 158, 1), rgba(188, 161, 158, 0.2) 40%, rgba(107, 186, 167, 0.2) 70%, rgba(107, 186, 167, 1) 100%);
}

/* Subscribe Styles --------------------- */

/* Footer Styles --------------------- */

/* Media Queries --------------------- */

@media screen and (max-width: 768px) {

    .content h1 {
        font-size: 250%;
    }

    .button {
        font-size: 110%;
        padding: 7px 15px;
    }

}